*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background: rgb(86,155,203);
    background: radial-gradient(circle, rgba(86,155,203,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    height: 100vh;
}

.login-wrapper, .signIn-wrapper{
    margin-top:  100px;
    background-color: #333333;
    max-width: 25rem;
    max-height: 52vh;
    width: 90%;
    padding: 2.5rem;
    border-radius:  8px;
    box-shadow: 0px 0px 20px;
}
.login-wrapper p, .signIn-wrapper p{
    text-align: unset;
}
.login-wrapper .title , .signIn-wrapper .title{
    font-size: 32px;
    margin:0px;
    color:#89BBDE;
}
.login-wrapper .login, .signIn-wrapper .signIn{
    color:#BBDCAD;
    margin-top: 30px;
    margin-bottom: 10px;
}
.login-wrapper .textInputs, .signIn-wrapper input{
   border:none;
   border-bottom: 2px solid #BBDCAD;
   width: 90%;
   background-color: #333333;
   padding-bottom:8px;
   padding-top: 8px;
}
.login-wrapper .textInputs:focus, .signIn-wrapper .textInputs:focus{
    border:none;
    outline: none;
    border-bottom: 2px solid #89BBDE;
}
.login-wrapper #submitLogin, .login-wrapper a , .signIn-wrapper #submitSignIn , .signIn-wrapper a {
    display: block;
}
.login-wrapper .float-right , .signIn-wrapper .float-right{
    float: right;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.login-wrapper #submitLogin , .signIn-wrapper #submitSignIn{
    border: none;
    max-width: 15rem;
    height: 2rem;
    padding: 5px 30px;
    border-radius: 12px;
    background-color: #BBDCAD;
    color: #814747;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 0px 20px;
}
.login-wrapper #submitLogin:hover, .login-wrapper a:hover , .signIn-wrapper #submitSignIn:hover , .signIn-wrapper a:hover{
    background-color: #89BBDE;
}
.login-wrapper a , .signIn-wrapper a{
    background-color: #BBDCAD;
    padding:5px 20px;
    border-radius: 12px;
    font-weight: bold;
    color: #814747;
    margin-top:25px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 0px 20px;
}
